// Colors
$primary-dark: #25242c;
$primary-dark-minus-5: darken($primary-dark, 5%);
$primary-dark-minus-10: darken($primary-dark, 10%);

// Primary Colors
$primary-blue: #5da3b4;
$primary-yellow: #cdd3a2;

// Secondary Colors
$secondary-blue: #c4d7dd;
$secondary-dark: #1c1210;