@import "variables";

body.login {
  background-size: cover;

  #login {
    padding-top: 9%;
  }

  h1 {
    background: none;
    padding-top: 20px;

    a {
      background-size: 84px;
    }
  }

  .message {
    background-color: $primary-dark-minus-10;
    color: #fff8e5;
  }

  .interim-login #login_error,
  .interim-login.login .message {
    margin-bottom: 0;
  }

  form {
    background: $primary-dark;
    margin-top: 0;
    padding: 26px 34px 46px;
  }

  .button-primary {
    background: $primary-dark-minus-5;
    border-color: $primary-dark-minus-10;
    box-shadow: 0 1px 0 $primary-dark-minus-5;
    text-shadow: none;

    &:hover {
      background: $primary-dark-minus-10;
      border-color: darken($primary-dark-minus-10, 10%);
    }
  }

  #backtoblog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    background: $primary-dark;
    font-size: 13px;
    margin: 0;

    a {
      color: rgba(255, 255, 255, .9);
      padding: 12px;
      float: left;

      &:hover {
        color: #fff;
      }
    }
  }
}

/** When a .message is displayed on screen */
body.login:not(.login-action-login) {
  h1 {
    padding-bottom: 20px;
  }
}